body{
 height: 100px;
}


.h-line{
  height: 5px;
  background-color: rgb(0, 200, 200);
}

.h{
  background-color: #494D56;
  height: 320px;


}

.h{
  color: white;
}

.h-logo{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 40px;
}

.h-text{
  display: flex;
  justify-content: center;
  text-align: center;

  margin: 30px auto;
}

.h-ad{
  display: flex;
  justify-content: center;
  margin-top: 50px;


}
.ad{
  margin: 0 10px;
  border: 0px;
  border-radius: 2px;
  padding: 5px 10px;
  color: black;

  background-color: #000;

}

.ad-fb{
  background-color: #3b5998;
}

.ad-twitter{
  background-color: #c0deed;
}



.p1-title{
  display: flex;
  justify-content: center;
  margin: 30px 0 0;
}


.p1-text{
  display: flex;
  justify-content: center;
  text-align: center;
}

.p1-download{

  display: flex;
  justify-content: center;




}

.download{
  text-decoration: none;
  color: white;

  margin: 30px 0;
  border: 0px;
  border-radius: 10px;

  padding: 10px 20px;

  background-color: rgb(0, 200, 200);
}



.a{
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 1px;
  justify-content: center;

  width: 800px;
  max-width: 100%;
  margin: 0 auto;


}

.a-box{
  margin: 20px 20px;
  border-radius: 10px;
  border: 0px;
  background-color: #fff;
  /* width: calc(100% / 3); */
  min-width: 175px;
  max-width: 195px;
  overflow-x: hidden;

  position: relative;
  bottom: 0px;
  transition: all .2s;

}

.a-box:hover{
box-shadow: 0 0 38px 0 #ccc;
transform: scale(1.02);
bottom: 6px;
}



.box-line{
  border-radius: 10px 10px 0 0;
  border: 0px;
  height: 3px;
}

.box-logo{
  display: flex;
  justify-content: center;

  margin: 20px 0 10px;
  height: 20px;
  width: auto;

}

.box-title{
  display: flex;
  justify-content: center;

  margin: 0 0 10px;
}

.box-title_h{

  color: black;
  margin: 5px 0 8px;
}


.box-text{
  display: flex;
  justify-content: center;
  text-align: center;

  margin: 0 0 20px;
}






.f{
  position: relative;
  width: 100%;
  bottom: 0px;

  margin-top: 40px;
  height: 30px;
  background-color: #494D56;

  color: #ddd;
  display: flex;
  justify-content: center;
}
