body{
  margin: 0;
  background-color: #000;
}


.p1{
  background-color: rgb(135, 80, 156);
  height: 400px;

}

.header{
  padding: 15px 70px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 30px;
  font-weight: 900;
}
.nav_ul{
  list-style: none;
  display: flex;
}

.nav_li{
  padding: 5px 0;
  margin: 0 1px;

}

.nav_text{
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 0px 11px;
}

#active{
  background-color: rgba(105, 50, 126,0.7);
  border-radius: 3px;
  border:0px;

}



.p1_text{
  display: flex;
  justify-content: center;
  color: white;

}

.p1_button{
  display: flex;
  justify-content: center;
}

.btn{
  border-radius: 5px;
  border-decoration:none;
  padding: 20px 40px;
  background-color: rgb(235, 125, 75);
  color: white;
  cursor: pointer;
}




.p2 {
  background-color: rgb(23, 194, 164);
  height: 500px;
}


.p2_title{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 0px;
  color: white;
}


.p2_descr{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 200px;
  color: white;
}


hr{
  width: 80px;
  opacity: 0.1;
  border: 0px;
  height: 4px;
  border-radius: 4px;
  background-color: black
}


.p2_pics{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.img{
  width: 100px;
  margin: 0 30px;

}
